<div style="text-align: center">

    <div class="header_logo" >
        <h1>Clinical Nutrition Times</h1>
        <h5>- 임상영양타임스 -</h5>
    </div>
    <div class="header_button">
        <span>
            <a href="{% url 'articleapp:list' %}">
                [전체 글]
            </a>
        </span>
        <span>
            <a href="{% url 'projectapp:list' %}">
                 [게시판]
            </a>
        </span>
        {% if user.is_authenticated %}
        <span>
            <a href="{% url 'subscribeapp:list' %}">
                [Subscription]
            </a>
        </span>
        {% endif %}

        {% if not user.is_authenticated %}

        <span>
            <a href="{% url 'accountapp:login' %}">
                [로그인]
            </a>
        </span>
        <span>
            <a href="{% url 'accountapp:create' %}">
                [회원가입]
            </a>
        </span>

        {% else %}
        <span>
            <a href="{% url 'accountapp:detail' pk=user.pk %}">
                [MyPage]
            </a>
        </span>
        <span>
            <a href="{% url 'accountapp:logout' %}">
                [로그아웃]
            </a>
        </span>

        {% endif %}

    </div>

</div>
